a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#0B1020; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#html_46b0c69c { vertical-align: bottom; position:relative; display: inline-block; width:100%; background-color:#E5E5E5;  }
#html_3984735a { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none;  }
#html_3fd19a42 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background-color:#E5E5E5;  }
